
body{
  background-color: blanchedalmond;
}

.buttonImg{
  height: 300px;
  width: 300px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: coral;
}

/* I want to display each pose in rows of 3 or 4 on the pose index*/
.SeatCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space space-between;

}
.CoreCards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space space-between;
}
.StrongCards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space space-between
}
.ChestCards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space space-between
}

